<html>
<head>
    <meta charset="UTF-8">
    <!-- Make it compatible to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain tumor classification</title>
    <link href="static/img/styleh.css" rel="stylesheet"/>
</head>
<body>
    <div class="fluid-container">
        <div class="container">
    <!-- <h4 style="color:Violet;">Upload an image and click submit</h4> -->
            <form method="post" action="/predict-tumor" enctype="multipart/form-data">
                <h2>Brain Tumor Classification</h2>
                <div class="image">
                    <img src="static/img/upload.png" id="prev-image"/>
                </div>
               <div class="submit-sec">
                <dl>
                    <p>
                        <input class="form-control" id="actual-btn" type="file" name="file" autocomplete="off" required>
                    </p>
                    </dl>
                    <label for="actual-btn" onclick="uploadfile()" class="form-label" id="custom-btn">Upload Image</label>
                    <p>
                    <input class="btn"  type="submit" name="submit" value="Predict">
                    </p>
               </div>
            </form>
        </div>
        <div class="container">
            <h2>Result</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="result">
                <div class="result-text">
                    <u><h3>{{ messages[0] }}</h3></u>
                    <u><div class="mes2">{{ messages[1] }}</div></u>
            </div>
            <div class="result-sec">
                <img class="result-img" src="{{ messages[2] }}">
            </div>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <script src="static/img/file.js"></script>
</body>
</html>